---
import Card from "../components/Card.astro";
import PageContainer from "../components/PageContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RSVP - J & A Wedding">
	<PageContainer maxWidth="lg">
		<Card>
			<h1 class="text-4xl sm:text-5xl mb-6 text-pink-600">RSVP</h1>
			<p>Coming soon</p>
		</Card>
	</PageContainer>
</Layout>
