---
import Layout from "../layouts/Layout.astro";
import PageContainer from "../components/PageContainer.astro";
import Card from "../components/Card.astro";
---

<Layout title="Thanks!">
  <PageContainer maxWidth="lg">
    <Card>
      <h1 class="text-3xl text-pink-600 mb-4">Thank you!</h1>
      <p class="text-gray-600">
        We've received your RSVP and can't wait to celebrate with you 💕
      </p>
    </Card>
  </PageContainer>
</Layout>
